<o-form-layout-manager attr="Example" mode="tab" title="EXAMPLE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ExampleTable" 
            service="Example" 
            entity="Example" 
            title="EXAMPLE"
            keys="id"
            columns="name;description;id;date_entered;is_predicted" 
            header-actions="R;D"
            visible-columns="name;description;id;date_entered;is_predicted"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #description attr="description" title="description" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-date-input #date_entered attr="date_entered" type="date" label="date_entered" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-column #is_predicted attr="is_predicted" title="is_predicted" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>